*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

h1{
    font-size: 50px;
    background-color: aqua;
    color: aliceblue;
   
}
div{
     display: block;
    background: red;
    margin: 10px auto;
    color: yellow;
}

a{
    display: block;
    text-align: center;
    text-decoration: none;
    background:aquamarine;
    color:white;
    width: 300px;
    height: 50px;
    font-size: 30px;
    margin:10px auto;
    padding: 10px;
    box-shadow: 0px 0px 5px yellow;
}
#uno{
    width: 30;
    height: 300px;

}

#dos{
    width: 30;
    height: 300pt;
  
}
#tres{
    width: 30;
    height: 3in;
    
}
#cuatro{
    width: 30;
    height: 3cm;
}
#cinco{
    width: 30;
    height: 3mm;
}
#seis{
    width: 30;
    height: 3pc;
    
}
#siete{
    width: 30;
    height: 30q;

}

#ocho{
    width: 20%;
    height: 20%;
}   
#nueve{
    width: 20em;
    height: 20em;
}
#diez{
    width: 20lh;
    height: 20lh;
}
#once{
    width: 20ex;
    height: 20ex;
}
#doce{
    width: 20ch;
    height: 20ch;
}
#trece{
    width: 20cap;
    height: 20cap;
}
#catorce{
    width: 20ic;
    height: 20ic;
}